.coin-image{
    margin-right: 10px;
}

.table-wrapper{
    width: 50%;
    margin: 0px auto;
}

table{
    width: 100%;
    margin-top: 25px;
}

tr.editable-row{
    background-color: lightskyblue;
}

th{
    background-color: black;
    color: white
}

td{
    background-color: rgb(39, 39, 39);
    color: white
}