<div class="bgImage">
  <div class="container" #container>
    <div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}"><mat-icon>arrow_back</mat-icon></div>
    <div class="cards" [ngClass]="{'w-100': totalPages === 1}">
      <div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
        <div class="card" *ngFor="let item of items; let index = index" [ngStyle]="{'width': cardWidth}">
          <mat-card
          style="
            background-color: rgb(20, 20, 20);
            color: white;
            border-radius: 10px;
            ">
            <mat-card-header>
              <img src="https://i.imgur.com/kLVXBbm.png" width="25px" height="25px" alt="Coin">
              <mat-card-title>
                <h1>{{ item.name }}</h1>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h2>${{ item.value }}</h2>
              <p>{{ item.sub }} <img src="https://i.imgur.com/udkkr86.png" width="10px" height="10px" alt="Coin"></p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
      [ngClass]="{'disabled':currentPage === totalPages}"><mat-icon>arrow_forward</mat-icon></div>
  </div>
</div>