.allSwap{
    background-image: url(https://i.imgur.com/psKwF49.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
}

.swapper{
    width: 40%;
    margin-top: 5%;
    margin-right: 29%;
    margin-left: 29%;
    padding: 2%;
    background-color: rgb(245, 245, 245);
}

.swap-button{
    width: 100%;
}

.slippage-text{
    font-size: medium;
    display: inline;
}

.slippage-flex{
    margin-bottom: 2%;
    margin-top: 4%;
}

.title-flex{
    margin-bottom: 5%;
    margin-top: 3%;
}

.title-text{
    margin-bottom: 4%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.converters-flex{
    display: inline;
}

.percentage{
    float: right;
}

.quantityFrom{
    float: right;
}

.quantityTo{
    float: right;
    margin-bottom: 10px;
}

.icon-settings{
    margin-bottom: 25px;
}

.coin-image{
    padding-right: 25px;
}