<div class="allSwap">
    <mat-card class="swapper">
        <mat-card-title class="title-text">Swap Coins <mat-icon>compare_arrows</mat-icon> </mat-card-title>
    <mat-card>
        <mat-card-subtitle>From</mat-card-subtitle>
        <div class="converters-flex">
            <mat-form-field>
                <mat-label>Quantity (Amount)</mat-label>
                <input matInput required [(ngModel)]="fromQuantity" autocomplete="off" type="number">
            </mat-form-field>
            <div class="percentage">
                <img class="coin-image" src="https://i.imgur.com/kLVXBbm.png" width="20px" height="20px" alt="Coin">
                <mat-form-field>
                    <mat-label>Coin</mat-label>
                    <mat-select [(value)]="default_from" required>
                      <mat-option *ngFor="let coin of dataSource" [value]="coin.symbol"> {{coin.symbol}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-card-subtitle class="converters-flex"> Value: ${{fromPrice}} </mat-card-subtitle>
                <mat-card-subtitle class="converters-flex quantityFrom"> Your available {{default_from}}: {{actualQuantityFrom}} </mat-card-subtitle>
            </div>
        </div>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-subtitle>To</mat-card-subtitle>
        <div class="converters-flex">
            <mat-form-field>
                <mat-label>Amount Received</mat-label>
                <input matInput [(ngModel)]="toQuantity" autocomplete="off" type="number" disabled>
            </mat-form-field>
            <div class="percentage">
                <img class="coin-image" src="https://i.imgur.com/kLVXBbm.png" width="20px" height="20px" alt="Coin">
                <mat-form-field>
                    <mat-label>Coin</mat-label>
                    <mat-select [(value)]="default_to" required>
                        <mat-option *ngFor="let coin of dataSource" [value]="coin.symbol"> {{coin.symbol}} </mat-option>
                      </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-card-subtitle class="converters-flex">ㅤ</mat-card-subtitle>
                <mat-card-subtitle class="converters-flex quantityTo"> Your {{default_to}}: {{actualQuantityTo}} </mat-card-subtitle>
            </div>
        </div>
    </mat-card>
    <div class="slippage-flex">
        <mat-card-subtitle class="slippage-text">Slippage Tolerance</mat-card-subtitle> 
        <mat-card-subtitle class="slippage-text percentage">1%</mat-card-subtitle>
    </div>
    <mat-card-actions>
        <button class="swap-button" mat-raised-button color="primary" (click)="swap()" [disabled]="fromQuantity == null || fromQuantity > actualQuantityFrom">SWAP</button>
    </mat-card-actions>
    </mat-card>
</div>